.how-it-works {
  padding-top: 351px;
  padding-bottom: 200px;
}

.how-it-works__title {
  margin-top: 0;
  margin-bottom: 178px;
  color: #83888f;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
}

.how-it-works__list {
  margin-bottom: 64px;
}

// .how-it-works__link {
// }
